
@font-face {
   font-display: swap; 
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   src: url('../src/fonts/montserrat-v29-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Montserrat", sans-serif;
}
html{
   scroll-behavior: smooth;
}
.container {
   max-width: 1076px;
   width: 100%;
   margin: 0 auto;
   padding: 0 16px;
}
.header__container {
   max-width: 1382px;
   width: 100%;
   margin: 0 auto;
   padding: 0 16px;
}
.active {
   color: black;
}
img {
   max-width: 100%;
}
a {
   color: inherit;
   text-decoration: inherit;
}
li {
   list-style: none;
}
button {
   border: none;
}
.hover__effect {
   transition: all 0.3s ease-in-out;
   border: 1px solid transparent;
}
.hover__effect:hover {
   border: 1px solid black;
   color: black;
}
